@charset "utf-8";
body {
    background-image: url(../images/g1.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-resolution: 100%;
    position: relative;
    background-attachment: fixed;
    padding-top: 0px;

}
.about {
    background-image: url(../images/g2.png), linear-gradient(180deg,rgba(45,43,16,0.67) 0%,rgba(21,41,13,1.00) 98.96%,rgba(20,41,13,1.00) 100%);
background-repeat: no-repeat;
    background-size: cover;
    min-resolution: 100%;
    position: relative;
    background-attachment: fixed;
padding-top: 0px;}
.projects {
    background-image: url(../images/g4.png);
background-repeat: no-repeat;
    background-size: cover;
    min-resolution: 100%;
    position: relative;
    background-attachment: fixed;
	padding-top: 0px;}
.conta {
    background-image: url(../images/g3.png), -webkit-linear-gradient(270deg,rgba(59,79,88,0.79) 0%,rgba(66,76,85,0.81) 100%);
    background-image: url(../images/g3.png), -moz-linear-gradient(270deg,rgba(59,79,88,0.79) 0%,rgba(66,76,85,0.81) 100%);
    background-image: url(../images/g3.png), -o-linear-gradient(270deg,rgba(59,79,88,0.79) 0%,rgba(66,76,85,0.81) 100%);
    background-image: url(../images/g3.png), linear-gradient(180deg,rgba(59,79,88,0.79) 0%,rgba(66,76,85,0.81) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    min-resolution: 100%;
    position: relative;
    background-attachment: fixed;
    padding-top: 0px;
}
.standard .nav-item.active {
    text-decoration: underline;
    font-weight: normal;
    text-shadow: -2px 3px rgba(76,19,82,1.00);
    color: rgba(121,237,243,1.00);
    font-size: 44px;
}


nav.standard {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    background-color: rgba(38,47,57,0.60);
    padding-right: 0px;
}


nav.standard a {
    color: #fff;
    display: inline-block;
    font-size: 31.75px;
    font-family: just-me-again-down-here;
    font-style: normal;
    font-weight: 400;
    padding-right: 8px;
    padding-left: 14px;
    padding-top: 20px;
    padding-bottom: 9px;
}
.container-fluid.logo {

}
.rotate180 {
    transform: rotate(180deg);
    margin-left: -16px;
    padding-top: 0px;
    margin-top: 25px;
}

.pulse a:hover{ 
  animation: pulse 5s infinite;
  animation-timing-function: linear;   
}

@keyframes pulse {
  0% { transform: scale(1); }
	50% { transform: scale(1.1);}
  100% { transform: scale(1); }
  }
.photos {
    text-align: center;
    color: rgba(255,255,255,1.00);
    font-family: zeyada;
    font-style: normal;
    font-weight: 400;
    font-size: 59px;
}
.col-5.text {
    color: rgba(255,255,255,1.00);
    font-family: abel;
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
}
h2 {
    font-family: just-me-again-down-here;
    font-style: normal;
    font-weight: 400;
    font-variant: small-caps;
    font-size: 53px;
    color: rgba(84,140,255,1.00);
}
a .btn.btn-link .align-content-lg-between {
    color: rgba(215,216,255,1.00);
    text-shadow: 2px 2px rgba(76,76,255,1.00);
    font-style: normal;
    font-weight: 400;
    font-family: zeyada;
}
.row.container-fluid.contact .col-10.offset-2.photos h1 {
    text-shadow: 3px 3px rgba(187,142,173,1.00);
}


h1 {
    font-family: delius-unicase;
    font-style: normal;
    font-weight: 400;
}
.row.container-fluid.contact {
    margin-top: 151px;
}
